.footer {
	background-color: black;
	background: cover;
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.footer p {
	color: rgb(48, 153, 195);
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.rightside p {
	display: flex;
  margin-top: 20px;
margin-right: 300px;
	align-items: center;
	justify-content: center;
}
